// Fonts
@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika-font.ttf') format("truetype");
}
$--font-main: 'Signika', sans-serif;
$--navbar-height: 64px;

$--primary-color: #ffde59;
$--secondary-color: black;

