// Fonts
@font-face {
    font-family: 'Signifika';
    src: url('../fonts/signika-font.ttf') format("truetype");
}
$--font-main: 'Signifika', sans-serif;

$--primary-color: #ffde59;
$--secondary-color: #000;

